<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <title>Buy {{  item.name  }}</title>
</head>
<body>
    <h1>{{  item.name  }}</h1>
    <p>{{  item.description  }}</p>
    <p>{{  item.true_price  }} RUB.</p>
    <button type="button" id="buy-button">Buy</button>
    <script type="text/javascript">
    var stripe = Stripe('{{  stripe_api_key  }}');
    var buyButton = document.getElementById('buy-button');
    const initDetails = {
        method: 'get',
        headers: {
            "Content-Type": "application/json; charset=utf-8"
        },
        mode: "no-cors"
    };
    buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{  item.id  }}', initDetails)
            .then(response => response.json())
            .then(session => stripe.redirectToCheckout({ sessionId: session['session_id'] }))
    });
    </script>
</body>
</html>